


html {
    box-sizing: border-box;

}


*,
*::after,
*::before {
    box-sizing: inherit;
}


@media (max-width: 41234px) {
    html, body {width:100% }
    main {
        display: none;
        opacity: 1;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: opacity 2s, display 2s;
    }

    body {
        overflow-x: hidden;
        overflow-y: hidden;
        font-size: 16px;
        font-family: Montserrat;

        font-weight: 300;
        line-height: normal;
    }

    .first__page__logo {

        background-color: rgba(217, 217, 217, 0.30);
        display: flex;
        justify-content: center;

        height: 100vh;
        width: 100ww;
        align-items: center;
        opacity: 1;
        transition: opacity 1s;

        z-index: 0;

    }


    .logo__img,
    .logo__text {
        opacity: 0;
        /* Начальное значение - элементы невидимы */
    }

    .logo__text, .swipe__text {
        font-family: Montserrat;
        font-size: 9px;
        line-height: normal;
        text-align: center;
        width: 142px;
        height: 78px;
        animation: fadeInText 2s ease forwards;
        animation-delay: 0.5s;
        /* Задержка в полсекунды после анимации изображения */
    }
    

    .logo__text>h1, .swipe__text>h1 {
        font-size: 22px;
    }

    .hidden {
        opacity: 1;
    }

    .unhidden {
        opacity: 1;
        display: block;
    }

    @keyframes fadeInText {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .logo__img {
        opacity: 1;
    }



    .logo__text__2 {
        font-weight: 600;
    }

    .logo__text__3 {
        font-size: 26px;
    }




    .rotate {
        width: 100%;
        height: 100%;
        opacity: 1;
        /* Начните с непрозрачности 0 */
        transform: rotate(0deg);
        /* Начните с нулевого поворота */
        transition: opacity 1s, transform 1s;
        /* Длительность анимации 1 секунда */
    }

    /* Примените анимацию после загрузки страницы */
    @keyframes rotateAndFadeIn {
        0% {
            opacity: 0;
            transform: rotate(0deg);
        }

        100% {
            opacity: 1;
            transform: rotate(360deg);
        }
    }

    /* Запустите анимацию при загрузке страницы */
    .rotate {
        animation: rotateAndFadeIn 2s;
        /* 2 секунды для полного оборота */
    }

    footer {
        width:100vw ;
        height: 117px;
        border-radius: 30px 30px 0px 0px;
        background-color: #4D504B;
        margin-top: 37px;
        position: fixed;
        text-align: center;
        padding: 18px;
        /* Внутренний отступ */
        z-index: 10;
bottom: 0px;
    }

    .footer__menu-list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 21px;

    }

    .menu__list-item {
        margin-right: 18px;
    }


    .block__animate {

        width: 299px;
        height: 456px;
        border-radius: 15px;
        background: #BBBABA;
    }

.swipe__text{
        animation: none;
       
        margin-top: 34px;
       
    }
    .swipe__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0;
        
    }

    .image-container{

        margin-bottom: 150px;
    }
    .yes__no__block{
        display: flex;
        justify-content: center;
        align-items: center;
       
        margin-left: 115px;
        margin-right: 119px;
    }
    .yes__no__block>img:first-child{
        margin-right: 50px;
    }
    


    /* .block__animate {
        width: 300px; /* Задайте ширину для внешнего блока */
 
        /* overflow: hidden;
      } */ 
      
      .image-container {
        width: 448.005px;
height: 712.962px;
        overflow: hidden;
        position: relative;
        margin-bottom: 0;
      }
      
      .image-slider {
        display: flex;
        white-space: nowrap;
      }
      
      .swipe-image {
        width: 448.005px;
height: 712.962px;
        object-fit: cover;
        transform-origin: center;
        transition: transform 0.3s ease;
        position: relative;
        z-index: 1;
      }
      
      .image-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
       width: 448.005px;
height: 712.962px;
     
        background: url('background.jpg') no-repeat;
        background-size: cover;
        z-index: 0;
      }
      
      .image-container::-webkit-scrollbar {
        display: none;
      }



      

      
}
